<% include ../partials/header %>
     
<header class="jumbotron">
     <div class="container">
          <h1>Welcome to YelpCamp!</h1>
          <p>View our hand-picked campgrounds from all over the world</p>
          <p>
               <a class="btn btn-primary btn-large" href="/campgrounds/new">Add New Campground</a>
          </p>
     </div>
</header>

<div class="row text-center" style="display: flex; flex-wrap: wrap;">
     <% campgrounds.forEach(function(campground) { %>
     <div class="col-md-3 col-sm-6">
          <div class="thumbnail">
               <img src="<%= campground.image %>" onerror="this.src='https://images.unsplash.com/photo-1483400900607-becbece13e85?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjF9&s=f52873d3d006fe713e5536a359e23904'">
               <div class="caption">
                    <h4><%= campground.name %></h4>
               </div>
               <p>
                    <a href="/campgrounds/<%= campground._id %>" class="btn btn-primary">More Info</a>
               </p>
          </div>
     </div>
     <% }); %>
</div>

<% include ../partials/footer %>
