.thumbnail img {
    width: 100%;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
}

.delete-form {
    display: inline;
}

/* Google Maps */
#map {
    height: 400px;
    width: 100%;
}

#admin {
    color: red;
}

body {
    background: linear-gradient(to right, rgba(179,220,237,1) 0%, rgba(237,241,247,1) 49%, rgba(188,224,238,1) 100%);
}